@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import "~@fortawesome/fontawesome-free/css/all.min.css";

.cursor-pointer {
  cursor: pointer;
}

.fa-spin-partial {
  -moz-transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.fa-spin-partial.fa-spin-partial-90 {
  -ms-transform: rotate(450deg);
  -moz-transform: rotate(450deg);
  -webkit-transform: rotate(450deg);
  transform: rotate(450deg);
}

//Some bootstrap grid improvements
.col-1p5 {
  -ms-flex: 0 0 12.5%;
  flex: 0 0 12.5%;
  max-width: 12.5%;
}
