{% extends "layout.base.html.twig" %}

{% block additionalStyles %}
    <link rel="stylesheet" href="{{ asset('build/autocomplete.css') }}">
{% endblock %}

{% block contents %}
    {% include 'component.contact.form.html.twig' %}
    <div class="row mt-4 mb-3">
        <div class="col-6 text-left">
            <h1 class="h2">Kontakty</h1>
        </div>
        <div class="col-6 text-right">
            <b-button
                    variant="success"
                    v-b-modal.contact-form
            >
                Přidat
            </b-button>
        </div>
    </div>
    <page-contacts
        :contacts-list-url="'{{ path("contacts_api_list") }}'"
        :contact-remove-url="'{{ path("contacts_api_remove") }}'"
    >
    </page-contacts>
{% endblock %}
